/* .modal-profile__comment {
    display: flex;
    align-items: center;
    background-color: red;
  } */

  .profilet__modal--img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
  }
  
  .modal-profile__profile {
    display: flex;
    flex-direction: column;
  }