.modal__comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .post__modal--img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .owner__comment {
    font-weight: bold;
    margin-right: 6px;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .comment__close-button {
    font-size: 18px;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px 10px;
    background-color: rgb(195, 195, 195);
    cursor: pointer;
  }
  