.modal__comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .post__modal--img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  