* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 247, 247);
  font-family: -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.posts {
  max-width: 600px;
}





