body {
  background-color: rgb(247, 247, 247);
  font-family: -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.posts {
  max-width: 70%;
}

.post {
  max-width: 500px;
  min-width: 300px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 2px;
  margin-top: 30px;
  background-color: white;
}

.post__header {
  display: flex;
  border: 1px solid rgb(231, 231, 231);
  align-items: center;
}

.post .post__header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 20px;
}

.post img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.conatainer-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.NavBar_container {
  align-items: center;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}
.NavBar_container .perfil_picture {
  border-radius: 50%;
  width: 40px;
  padding: 1px;
}
.NavBar_container .logo {
  width: 100px;
}
